body {
    max-width: 800px;
    margin: 0 auto;
}

.izquierdo {
    width: 45%;
    text-align: left;
}

.derecho {
    float: right;
    width: 45%;
    text-align: right;
}

#caja {
    margin-top: 70px;
    width: 60 px;
    height: 300px;
    border: 1px solid #000000e8;
    background-color: #cccccc;
    padding: 20px;
}

#caja2 {
    margin-top: 10px;
    width: 20 px;
    height: 20px;
    background-color: #FDFEFE;
    padding: 20px;
    border-radius: 15px 15px 15px 15px;
    -moz-border-radius: 15px 15px 15px 15px;
    -webkit-border-radius: 15px 15px 15px 15px;
    border: 1px solid #000000e8;
}